
<ion-content>

  <ion-list>
    <button ion-item *ngFor="let item of items" >
      {{item}}
      <div *ngIf="item != 'Sunday'&&item !='Saturday' then notSunday; else sunday" class="item-note" item-end></div>
      <ng-template #notSunday class="item-note">From 9am to 6pm</ng-template>
      <ng-template #sunday class="item-note">close</ng-template>
    </button>
  </ion-list>
  <ion-item>
    <button ion-button full  block rounded color='dark'(click)="onClick()">Done</button>
  </ion-item>

  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
